<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "QCM Home", "http://qcmny.com/" %>
				</ul>
			</nav>
					
		</div>
	</div>
</header>